<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B-Bop TV</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">B-Bop TV</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("ContentProvider"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Videos" asp-action="Upload">Upload</a>
                            </li>
                        }
                        if (User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Moderation" asp-action="Index">Moderation</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2024 - B-Bop TV</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
